.button {
    padding: 8px;
    background-color: var(--color-dark-grey);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid var(--color-dark-grey);
    width: 300px;
}

.button:hover,
.button:focus {
    border: 1px solid var(--color-highlight-blue);
    transition: color 0.15s ease, border-color 0.15s ease;
}

.image{
    margin-right: 8px;
}

.span{
    display:flex;
    align-items: center;
}